.info-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-details {
    color: white;
    font-weight: 500;
    line-height: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.info-details-edit-icon {
    height: 21px;
    margin-right: 15px;
}

.birth-date,
.user-gender {
    display: flex;
    margin-left: 25px;
    align-items: center;
    margin-top: 12px;

}

.birth-date-text,
.user-gender-text {
    color: white;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.birth-date-text {
    font-weight: 500;

    
}

.user-gender-text {
    font-weight: 400;
}


.ahc-picture, 
.plsc-picture {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    object-fit: cover;
}

.ahc-container,
.plsc-container {
    display: flex;
    align-items: center;
    margin-left: 18px;
}

.ahc-text,
.plsc-text {
    color: white;
    font-size: 15px;
}

.plsc-pass-year {
    color: rgb(177, 177, 177);
    font-size: 13px;
    padding-top: 5px;
}

.ahc-text,
.plsc-inner-div {
    padding-left: 10px;
}

.ahc-container,
.plsc-container p {
    margin-top: 0;
    margin-bottom: 0;
}

.ahc-container {
    margin-top: 10px;
}

.plsc-container {
    margin-top: 8px;
    margin-bottom: 8px;
}

.link-container,
.contact-container {
    display: flex;
    align-items: center;
    margin-left: 22px;
    margin-top: 8px;
}

.link-icon,
.allternate-mail {
    height: 30px;
}

.link-text,
.contact-text {
    padding-left: 15px;
    color: white;
    font-size: 15px;
}

.info-details-container-second {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-details-second {
    margin-left: 20px;
    color: white;
    font-weight: 500;
    line-height: 20px;
}

.see-all {
    color: rgb(8, 102, 255);
    margin-right: 15px;
    font-weight: 400;
}

.friends-s-picture {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 35px;
}

.friends-picture-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 20px;
    column-gap: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.friends-s-picture-text {
    color: white;
    font-size: 14px;
    text-align: center;
    margin-bottom: 8px;
}

.friends-s-picture-text-small {
    color: rgb(177, 177, 177);
    font-size: 13px;
    text-align: center;
    margin-top: 0px;
}

.friends-s-picture {
    position: relative;
}

.last-active {
    position: absolute;
    color: rgb(5, 165, 5);
    bottom: -265px;
    right: 274px;
    background-color: rgb(28, 30, 33);
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 20px;
    font-size: 14px;
}

.circle-active {
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 12px;
    background-color: green;
    bottom: -270px;
    right: 185px;
    border-style: solid;
    border-color: rgb(28, 30, 33);
}

#for-story {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(28, 30, 33);
}

.story-circle {
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    height: 74px;
    width: 74px;
    border-radius: 37px;
}