.info-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-details {
    color: white;
    font-weight: 500;
    line-height: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.info-details-edit-icon {
    height: 21px;
    margin-right: 15px;
}

.birth-date,
.user-gender {
    display: flex;
    margin-left: 25px;
    align-items: center;
    margin-top: 12px;

}

.birth-date-text,
.user-gender-text {
    color: white;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.birth-date-text {
    font-weight: 500;

    
}

.user-gender-text {
    font-weight: 400;
}